name: on-push-main

on:
  push:
    branches:
    - main

permissions:
  packages: write
  contents: write

jobs:

  test-release-promotion:
    name: "Dry Run - Release Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: false
      dry_run: true
      values: |
        env:
          test: "true"
          type: "release"
          method: "promotion"
          event: "push-main"
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-release-promotion-pr:
    name: "Dry Run - Release Promotion PR"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: false
      promotion_pr: true
      dry_run: true
      values: |
        env:
          test: "true"
          type: "release"
          method: "promotion-pr"
          event: "push-main"
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-preview-promotion:
    name: "Dry Run - Preview Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: true
      dry_run: true
      values: |
        env:
          test: "true"
          type: "preview"
          method: "promotion"
          event: "push-main"
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-preview-promotion-pr:
    name: "Dry Run - Preview Promotion PR"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: true
      promotion_pr: true
      dry_run: true
      values: |
        env:
          test: "true"
          type: "preview"
          method: "promotion-pr"
          event: "push-main"
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  version-and-tag:
    name: Version and Tag
    needs:
      - test-release-promotion
      - test-release-promotion-pr
      - test-preview-promotion
      - test-preview-promotion-pr
    uses: unbounded-tech/workflow-vnext-tag/.github/workflows/workflow.yaml@v1.20.2
    secrets:
      DEPLOY_KEY: ${{ secrets.DEPLOY_KEY }}
    with:
      useDeployKey: true
