name: on-pr

on:
  pull_request:

jobs:
  test-argocd-promote-helm:
    name: Test Promotion (Dry Run)
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: false
      dry_run: true
      values: |
        image:
          tag: ${{ github.sha }}
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-argocd-promote-helm--promotion-pr:
    name: Test Promotion with PR (Dry Run)
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: false
      promotion_pr: true
      dry_run: true
      values: |
        image:
          tag: ${{ github.sha }}
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-argocd-promote-helm--preview:
    name: Test Preview (Dry Run)
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: test
      environment_repository: ${{ github.repository }}
      preview: true
      dry_run: true
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-argocd-promote-helm--preview-pr:
    name: Test Preview with PR (Dry Run)
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: test
      environment_repository: ${{ github.repository }}
      preview: true
      promotion_pr: true
      dry_run: true
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}
