name: on-pr

on:
  pull_request:

jobs:

  # Release promotions would not normally go in PRs, but we include them here for testing purposes
  test-release--promotion--dry-run:
    name: "Dry Run - Release Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      auth_mode: app
      project: test-project
      environment_name: on-pr-release-promotion
      environment_repository: unbounded-tech/test-gitops
      preview: false
      dry_run: true
      values: |
        env:
          test: "true"
          type: "release"
          method: "promotion"
          event: "pr"
    secrets:
      GH_APP_ID: ${{ secrets.GH_APP_ID }}
      GH_APP_KEY: ${{ secrets.GH_APP_KEY }}

  test-release--promotion-pr--dry-run:
    name: "Dry Run - Release Promotion PR"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      auth_mode: app
      project: test-project
      environment_name: on-pr-release-promotion-pr
      environment_repository: unbounded-tech/test-gitops
      preview: false
      promotion_pr: true
      dry_run: true
      values: |
        env:
          test: "true"
          type: "release"
          method: "promotion-pr"
          event: "pr"
    secrets:
      GH_APP_ID: ${{ secrets.GH_APP_ID }}
      GH_APP_KEY: ${{ secrets.GH_APP_KEY }}

  test-preview--promotion--dry-run:
    name: "Dry Run - Preview Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      auth_mode: app
      project: test-project
      environment_name: on-pr-preview-promotion
      environment_repository: unbounded-tech/test-gitops
      preview: true
      dry_run: true
      values: |
        env:
          test: "true"
          type: "preview"
          method: "promotion"
          event: "pr"
    secrets:
      GH_APP_ID: ${{ secrets.GH_APP_ID }}
      GH_APP_KEY: ${{ secrets.GH_APP_KEY }}

  test-preview--promotion-pr--dry-run:
    name: "Dry Run - Preview Promotion PR"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      auth_mode: app
      project: test-project
      environment_name: on-pr-preview-promotion-pr
      environment_repository: unbounded-tech/test-gitops
      preview: true
      promotion_pr: true
      dry_run: true
      values: |
        env:
          test: "true"
          type: "preview"
          method: "promotion-pr"
          event: "pr"
    secrets:
      GH_APP_ID: ${{ secrets.GH_APP_ID }}
      GH_APP_KEY: ${{ secrets.GH_APP_KEY }}

  test-preview--promotion:
    name: "Preview Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      auth_mode: app
      project: test-project
      environment_name: on-pr-preview-promotion
      environment_repository: unbounded-tech/test-gitops
      preview: true
      values: |
        env:
          test: "true"
          type: "preview"
          method: "promotion"
          event: "pr"
    secrets:
      GH_APP_ID: ${{ secrets.GH_APP_ID }}
      GH_APP_KEY: ${{ secrets.GH_APP_KEY }}
