name: on-push

on:
  push:
    branches:
      - '**'
      - '!main'

jobs:
  test-release-promotion:
    name: "Dry Run - Release Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: false
      dry_run: true
      values: |
        image:
          tag: ${{ github.sha }}
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-release-promotion-pr:
    name: "Dry Run - Release Promotion PR"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: production
      environment_repository: ${{ github.repository }}
      preview: false
      promotion_pr: true
      dry_run: true
      values: |
        image:
          tag: ${{ github.sha }}
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-preview-promotion:
    name: "Dry Run - Preview Promotion"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: test
      environment_repository: ${{ github.repository }}
      preview: true
      dry_run: true
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}

  test-preview-promotion-pr:
    name: "Dry Run - Preview Promotion PR"
    uses: ./.github/workflows/argocd-promote-helm.yaml
    with:
      project: test-project
      environment_name: test
      environment_repository: ${{ github.repository }}
      preview: true
      promotion_pr: true
      dry_run: true
    secrets:
      GH_PAT: ${{ secrets.GITHUB_TOKEN }}
