name: on-v-tag

on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  release:
    uses: unbounded-tech/workflow-simple-release/.github/workflows/workflow.yaml@v2.1.1
    with:
      tag: ${{ github.ref_name }}
      name: ${{ github.ref_name }}
