name: publish-container
on:
  push:
    tags:
    - v*.*.*
jobs:

  publish-container:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: write

    steps:

    - name: downcase REPO
      run: |
        echo "REPO=${GITHUB_REPOSITORY,,}" >>${GITHUB_ENV}
    # - name: use REPO
    #   run: echo "The value of REPO is: ${{ env.REPO }}"

    - name: Checkout
      uses: actions/checkout@v3
      with:
        persist-credentials: false
        fetch-depth: 0

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: ghcr.io/${{ env.REPO }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=registry,ref=ghcr.io/${{ env.REPO }}:buildcache
        cache-to: type=registry,ref=ghcr.io/${{ env.REPO }}:buildcache,mode=max

    - name: Build and push integration tests docker image
      uses: docker/build-push-action@v3
      with:
        context: .
        file: ./jest.integration.Dockerfile
        push: true
        tags: |
          ghcr.io/${{ env.REPO }}-integration-tests:${{ github.ref_name }}
        labels: ${{ steps.meta.outputs.labels }}
        cache-from: type=registry,ref=ghcr.io/${{ env.REPO }}-integration-tests:buildcache
        cache-to: type=registry,ref=ghcr.io/${{ env.REPO }}-integration-tests:buildcache,mode=max
